* {
    margin: 0;
}

h1 {
    color: white;
}

.overlayImg {
    width: 100%;
}

.modalContent {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 40%;
}

.modal {
    min-height: 100vh;
    background:rgba(0, 0, 0, 0.755);
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
}

.App {
    position: relative;
    display: flex;
    padding: 0px 50px;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;

    @media only screen and (max-width: 500px) {
        padding: 0px;
      }
}

.text-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;

    @media only screen and (max-width: 500px) {
        padding: 20px;
      }
}

.cart-text-price {
    text-align: left;
}

.cart-text-title {
    font-size: 13px;
}

.cart-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.cart-text-container {
    margin-left: 10px;
}

.cart-title {
    text-align: left;
    font-size: 15px;
}

.cart-img {
    width: 40px;
}

.cart-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.blank {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.add,
.remove {
    cursor: pointer;
}

.cart-add-remove {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #F7F8FD;
    padding: 15px;
    border-radius: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.cart {
    position: absolute;
    width: 250px;
    border: 1px solid black;
    text-align: center;
    left: -120px;
    top: 50px;
    padding: 10px;
    background-color: #fff;
    z-index: 1;

    @media only screen and (max-width: 500px) {
        position: absolute;
        width: 80%;
        border: 1px solid black;
        text-align: center;
        left: 0;
        top: 122px;
        padding: 10px;
        background-color: #fff;
        z-index: 1;
        right: 0;
        border: none;
        left: 50%;
        transform: translate(-50%, -50%);
      }
}

.nav-icons {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cart-master-container {
    position: relative;
}

.shopping-cart {
    width: 25px;
}

.profile-img {
    width: 50px;
}

.half {
    width: 50%;

    @media only screen and (max-width: 500px) {
        width: 100%;
      }
}

.carousel .thumbs {
    display: flex;
    justify-content: center;
    padding: 0px;
}

.mobile-hidden {
    @media only screen and (max-width: 500px) {
        display: none;
    }
}

.main-img {
    width: 70%;
    border-radius: 20px;

    @media only screen and (max-width: 500px) {
        width: 100%;
      }
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media only screen and (max-width: 500px) {
        flex-direction: column;
      }
}

.thumbnail {
    width: 15.4%;
    border-radius: 20px;

    &:hover {
        cursor: pointer;
    }
}

.main-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thumbnail-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.notification {
    font-size: 10px;
    position: absolute;
    right: 5px;
    top: -3px;
    background-color: #F07C3A;
    width: 15px;
    border-radius: 30px;
    color: white;
}

.mobile-carrasoul {
    display: none;
    @media only screen and (max-width: 500px) {
        display: block;
      }
}

.full-view {
    display: block;
    @media only screen and (max-width: 500px) {
        display: none;
      }
}

.companyname {
    color: #F07C3A;
    font-size: 20px;
}

.title {
    font-size: 50px;
    line-height: 1;
    font-weight: 900;
}

.card-text {
    color: #858689;
    font-size: 18px;
    line-height: 1.5;
}

.oldprice {
    color: #858689;
    text-decoration: line-through;
}

.price-container {
    font-weight: 700;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 35px;

    :nth-child(2){
        background-color: #FCEEE1;
        color: #F07C3A;
        padding: 5px 8px;
        border-radius: 5px;
        font-size: 15px;
    }
}

.checkout {
    width: 100%;
    background-color: #F07C3A;
    border: none;
    border-radius: 8px;
    height: 40px;
    color: white;
}

.add-to-cart {
    border-radius: 10px;
    height: 48px;
    width: 250px;
    border: none;
    background-color: #F07C3A;
    color: white;
    cursor: pointer;
}